In [26]:
print('MEHAKPREET KAUR')
print('MEHAKPREET KAUR')
print('MEHAKPREET KAUR')

MEHAKPREET KAUR
MEHAKPREET KAUR
MEHAKPREET KAUR

In [27]:
a=float(input('enter 1st number: '))
b=float(input('enter 2nd number: '))
c=float(input('enter 3rd number: '))
sum = a + b + c
print('the sum is',sum)

enter 1st number: 1
enter 2nd number: 3
enter 3rd number: 4
the sum is 8.0

In [28]:
a='Hello'
b='World'
c='!'
output=(a+" "+b+" "+c)
print(output)

Hello World !

In [29]:
for i in range(1,11):
  print(7,"*", i, "=", 7*i)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [30]:
for i in range(1,11):
  print(5,"*",i, "=", 5*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [31]:
n=int(input('enter the value of n:'))
for i in range(1,11):
  print(n,"*",i,"=",n*i)

enter the value of n:3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [32]:
n=int(input('enter a number:'))
totalSum=0
for i in range(1,n+1):
  totalSum=totalSum+i
print(totalSum)

enter a number:4
10

In [33]:
a = float(input('enter 1st number:'))
b = float(input('enter 2nd number:'))
c = float(input('enter 3rd number:'))
res= max(a,b,c)
print('the maximum of the three numbers is',res)

enter 1st number:5
enter 2nd number:4
enter 3rd number:1
the maximum of the three numbers is 5.0

In [34]:
n=int(input('enter the value of n:'))
totalSum=0
for i in range(1,n+1):
  if(i%7==0 and i%9==0):
    totalSum=totalSum+i
print('sum is', totalSum)

enter the value of n:7
sum is 0

In [35]:
n = int(input("Enter the value of n: "))
def isPrime(n):
    if n < 2:
        return False
    for i in range(2, n // 2 + 1):
        if n % i == 0:
            return False
    return True
totalSum = 0
for k in range(2, n + 1):
    if isPrime(k):
        totalSum=totalSum+k

print(f"The sum of prime numbers from 2 to",n,"is:", totalSum)

Enter the value of n: 3
The sum of prime numbers from 2 to 3 is: 5

In [36]:
def oddSum(n):
    totalSum=0
    for i in range(1,n+1):
      if i%2!=0:

       totalSum=totalSum+i
    return totalSum

print(oddSum(5))

9

In [37]:
def isPrime(n):
    if n < 2:
        return False
    for i in range(2, n // 2 + 1):
        if n % i == 0:
            return False
    return True


n = int(input("Enter the value of n: "))


totalSum = 0
for k in range(2, n + 1):
    if isPrime(k):
        totalSum += k


print(f"The sum of all prime numbers from 1 to", n, "is:", totalSum)


print(isPrime(3))

Enter the value of n: 4
The sum of all prime numbers from 1 to 4 is: 5
True