In [ ]:
l=[10,20,30,40,50,70,80]
l.append(200)
print(l)
l.append(300)
print(l)
l.pop(0)
print(l)
l.pop(2)
print(l)
l.sort()
print(l)
l.sort(reverse = True)
print(l)

In [ ]:
tup=(45,89.5,76,45.4,89,92,58,45)
a= max(tup)
print(a)
i=tup.index(a)
print(i)
#(ii)
lowest=min(tup)
print(lowest)
count=tup.count(lowest)
print(count)
#(iii)
print(list(tup[::-1]))
#(iv)
li=input("enter the score:- ")
li=float(li)
def check_score(tup,li):
    if li in tup:
        index1=tup.index(li)
        print(f"{li} is present in the score at indexno. {index1}")
    else:
         print(f"{li} is not present in the given list of scores")
check_score(tup, li)

92
5
45
2
[45, 58, 92, 89, 45.4, 76, 89.5, 45]
enter the score:- 76
(11) is present in the score at indexno. 2

In [ ]:
import random

def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True


random_numbers = [random.randint(100, 900) for _ in range(100)]

# Separate numbers into odd, even, and prime
odd_numbers = [num for num in random_numbers if num % 2 != 0]
even_numbers = [num for num in random_numbers if num % 2 == 0]
prime_numbers = [num for num in random_numbers if is_prime(num)]

# Print the results
print("Generated Numbers:", random_numbers)
print("\nAnalysis:")
print(f"Odd numbers ({len(odd_numbers)}): {odd_numbers}")
print(f"Even numbers ({len(even_numbers)}): {even_numbers}")
print(f"Prime numbers ({len(prime_numbers)}): {prime_numbers}")

Generated Numbers: [610, 310, 889, 775, 140, 677, 447, 138, 546, 731, 354, 826, 411, 182, 296, 531, 271, 771, 877, 107, 593, 861, 106, 103, 799, 837, 397, 433, 654, 832, 268, 811, 633, 552, 785, 796, 242, 572, 362, 745, 687, 799, 682, 874, 435, 696, 315, 340, 824, 436, 482, 743, 293, 238, 808, 678, 592, 471, 173, 205, 669, 703, 282, 245, 615, 136, 111, 367, 273, 112, 724, 155, 751, 396, 736, 692, 176, 265, 272, 245, 179, 900, 477, 808, 567, 550, 851, 229, 697, 502, 795, 536, 884, 571, 674, 678, 480, 284, 292, 473]

Analysis:
Odd numbers (51): [889, 775, 677, 447, 731, 411, 531, 271, 771, 877, 107, 593, 861, 103, 799, 837, 397, 433, 811, 633, 785, 745, 687, 799, 435, 315, 743, 293, 471, 173, 205, 669, 703, 245, 615, 111, 367, 273, 155, 751, 265, 245, 179, 477, 567, 851, 229, 697, 795, 571, 473]
Even numbers (49): [610, 310, 140, 138, 546, 354, 826, 182, 296, 106, 654, 832, 268, 552, 796, 242, 572, 362, 682, 874, 696, 340, 824, 436, 482, 238, 808, 678, 592, 282, 136, 112, 724, 396, 736, 692, 176, 272, 900, 808, 550, 502, 536, 884, 674, 678, 480, 284, 292]
Prime numbers (17): [677, 271, 877, 107, 593, 103, 397, 433, 811, 743, 293, 173, 367, 751, 179, 229, 571]

In [ ]:
A={34,56,78,90}
B={78,45,90,23}
unique_scores = A.union(B)
print(unique_scores)
common = A.intersection(B)
print(common)
exclusive1 = A.symmetric_difference(B)
print(exclusive1)
is_a_subset = A.issubset(B)
is_a_superset = A.issuperset(B)
print(is_a_subset)
print(is_a_superset)
a =int(input("enter the scire to be removed from A"))
if a in A:
  A.remove(a)
  print(f"score {a} has been removed from A")
else:
  print(f"score {a} is not present in set A")
print("updated set A : ",A)

{34, 45, 78, 23, 56, 90}
{90, 78}
{34, 45, 23, 56}
False
False
enter the scire to be removed from A90
score90 has been removed from A
updated set A :  {56, 34, 78}

In [ ]:
sample_dict ={
    "name": "kelly",
    "age": 25,
    "salary": 8000,
    "city": "new york"
}
sample_dict["city"] = "ferozepur"
print(sample_dict)

{'name': 'kelly', 'age': 25, 'salary': 8000, 'city': 'ferozepur'}